<!DOCTYPE html>
<html lang="<%= meta.language %>">
<head>
<meta charset="UTF-8">
<title>Tezos dashboard</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- styles -->
<link rel="stylesheet" href="./css/page.css?v<%= meta.version %>" />

<!-- scripts -->
<script type="module" src="./js/dashboard.js?v<%= meta.version %>"></script>

<!-- meta data -->
<meta name="description" content="<%= meta.description %>" />
<meta name="keywords" content="<%= meta.keywords %>" />
<meta name="author" content="<%= meta.author %>" />
<meta name="robots" content="index, follow" />

<!--
-- manifest --
<link rel="manifest" href="./app.webmanifest" />
-->

<!-- favicons -->
<link rel="icon" href="/favicon.ico" />
<link rel="icon" href="/media/favicons/favicon.svg" type="image/svg+xml" />

</head>
<body>
