<%- include('./partials/_pagehead.ejs', { meta }) -%>

<input type="checkbox" id="dashconfig" />

<main></main>

<ul id="dashcontrol">
  <li><button id="dashmoveup" title="move up"><%- include('../media/icons/moveup.svg') -%></button></li>
  <li><button id="dashmovedown" title="move down"><%- include('../media/icons/movedown.svg') -%></button></li>
  <li><button id="dashresize" title="resize"><%- include('../media/icons/open.svg') -%></button></li>
  <li><button id="dashdelete" title="delete"><%- include('../media/icons/delete.svg') -%></button></li>
</ul>

<label id="dashconfig-overlay" for="dashconfig"></label>
<aside id="dashconfig-panel" tabindex="0">

  <ul id="dashconfig-add"></ul>

  <!-- locale: https://www.fincher.org/Utilities/CountryLanguageList.shtml -->
  <label for="locale">language</label>
  <select id="locale" data-tezos-reducer="locale">
    <option value="">local</option>
    <option value="en-GB">English: UK</option>
    <option value="en-US">English: US</option>
    <option value="fr-FR">Français</option>
    <option value="de-DE">Deutsch</option>
    <option value="pt-PT">Português</option>
    <option value="es-ES">español</option>
    <option value="it-IT">Italiano</option>
    <option value="sv-SE">svenska</option>
    <option value="ru-RU">Русский</option>
    <option value="ar-SA">عربي</option>
    <option value="zh-CN">中国人</option>
    <option value="ja-JP">日本</option>
  </select>

</aside>

<p id="dashconfig-tooltip">start</p>

<label id="dashconfig-icon" for="dashconfig">
  <%- include('../media/icons/dashadd.svg') -%>
  <%- include('../media/icons/close.svg') -%>
</label>

<%- include('./partials/_pagefoot.ejs', { meta }) -%>
